<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocuPet - Compra Aprovada</title>
    <link rel="icon" href="/imgs/logoPet.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/success.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <section>
        <h1>DocuPet</h1>
        
        <h2>Obrigado pela sua compra!!</h2>
        <p><span class="text-id">ID_PET:</span><span class="IdPet"><span class="copy"><%= x.id_pet %></span><span id="copy-button" class="material-symbols-outlined">
            content_copy
            </span></span><span class="msg_copy">mensagem<br> copiada</span></p>
        <p>Use o ID_PET para consultar os Docs do seu PET, você receberá-lo via email também.</p>
        <div class="buttons">
            <a href="/consultar">Consultar Docs PET</a>
            <a href="/">Cadastrar novo PET</a>
        </div>
    </section>

    <script>
        document.querySelector('#copy-button').addEventListener('click', function() {
        const idPet = document.querySelector('.copy').textContent;
        navigator.clipboard.writeText(idPet).then(() => {
            const msgCopy = document.querySelector('.msg_copy');
            msgCopy.style.display = 'inline';
            msgCopy.style.opacity = '1'; 

            setTimeout(() => {
                msgCopy.style.opacity = '0';
                setTimeout(() => {
                    msgCopy.style.display = 'none';
                }, 500);
            }, 1000);

        }).catch(err => {
            console.error('Erro ao copiar o ID_PET: ', err);
        });
    });
    </script>
    
</body>
</html>